/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.chart-title {
    -fx-text-fill: #b83f3f;
    -fx-font-size: 1.3em;
  }
  
.button {
    -fx-border-color: #158032;
    -fx-border-radius: 5;
}

.button:selected {
    -fx-border-color: yellow;
}