.button {
    -fx-border-color: #158032;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-border-color: white;
}

#pane{
    -fx-background-image: url("pics/Plain-Green-Grass-background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 750 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 .scroll-pane {
    -fx-background-color: transparent;
 }